<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" >
    <test name="com.FirstTest" parallel="methods" thread-count="5">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="FirstTest">
                <methods>
                    <include name="verifyNavigationTitle" />
                    <include name="verifyHamburgerMenu" />
                    <include name="verifyModelIntro" />
                    <include name="verifyModelDetails" />
                    <include name="verifySideNavigationBar" />
                    <include name="verifyTextStatement" />
                    <include name="verifyCallOutsIcon" />
                    <include name="verifyCallOutsSectionText" />
                    <include name="verifyCallOutsSectionCTA" />
                    <include name="verifyCallOutsSectionVideo" />
                    <include name="verifyProductListCarousel" />
                </methods>
            </class>
        </classes>
    </test> <!-- First Test -->
</suite> <!-- Suite -->